.mt-dashbroad {
	margin-top:60px;
	
}

.mh-dashbroad {
	margin-left:-16px;
	padding-right:-16px;
	/* background-color:#F8F9FA; */
}
.active {
	background-color:#343a40 !important;
	color:#ffffff !important;
}
.header {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-exam {
}

.congratulation{
	width:300px;
	height:200px;
}

.test-box {
	padding: 10px;
}

.test-box-border {
	border: 1px solid gray;
	border-radius: 5px;
	padding-top: 10px;
}

.countdown-clock {
	background-color: #343A40;
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 2px;
	border-radius: 5px;
}

.quiz-box {
	background-color: #007BFF;
	color: #fff;
	text-align: center;
	width: 45px;
	border-radius: 3px;
	border-color: #909497;
	padding: 10px;
	margin: 1px;
}

.quiz-box a {
	color: #fff;	
}

